<div id="thanks">
  <h1>Muito Obrigado!</h1>Gostou da nossa ferramenta? Espalhe a novidade!
  <br/>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FPassa-o-Biz%25C3%25BA%2F1415356882027208%3Fref%3Dhl&amp;width&amp;height=80&amp;colorscheme=light&amp;layout=standard&amp;action=like&amp;show_faces=true&amp;send=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:80px;" allowTransparency="true"></iframe>
</div>
