<div id="welcome">
<div class="hero-unit">
	<h1>Não perca tempo<br>com uma única <span style="color:#0073cc;">questão</span></h1>
	<p>Deixe que a gente te ajude,<br>
	e parta para o próximo problema.</p>
</div>
	
	<div id="well" class="row well">
		<div class="span4 offset2 text_only">
			Nós estamos tão empolgados quanto você para lançar esse produto que irá aumentar a eficiência de seus estudos. Para garantir uma experiência fluida para todos os usuários estamos liberando o acesso aos poucos. Deixe o seu email no campo à direita e o manteremos atualizado sobre o nosso progresso. Liberaremos o seu acesso assim que possível!
		</div>
		<div class="span4">	
			<div id="request-invite" class="form-inline">
				<%= render 'email_capture' %>
			</div>
		</div>
	</div>
</div>